@charset "utf-8";
html,body{
	width: 100%;
	height: 100%;
	font-family: 'Rajdhani', sans-serif;
}
::-webkit-scrollbar{
	display: none;
}
#wrap{
	width: 100%;
	height: 100%;
}
.section{
	width: 100%;
	height: 100%;
}
/*sectionMain 시작*/
.sectionMain{
	width: 100%;
	height: 100%;
	background: url('../img/mainimg2.png') no-repeat 50%;
	background-size: cover;
	position: relative;
}
.sectionMain .txt{
	max-width: 550px;
	padding-top: 250px;
	color: #ffffff;
	text-align: center;
}
.txt p.maintxt{
	font-size: 52px;
	opacity: 0;
}
.txt p.subtxt{
	text-align: center;
	font-size: 30px;
	font-weight: 900;
	opacity: 0;
}
@media only screen and (max-width:720px){
	.sectionMain .txt{
		max-width: 400px;
		padding-top: 260px;
	}
	.txt p.maintxt{
		font-size: 38px;
	}
	.txt p.subtxt{
		font-size: 15px;
	}
}
.scrollimg p{
	position: absolute;
	bottom: 40px;
	left: 49%;
	font-weight: 700;
	color: #0b0809;
	opacity: 0;
}
@media only screen and (max-width:720px){
	.scrollimg p{
		left: 47%;
		opacity: 0;
	}
}
.scrollimg img.scrolldown{
	width: 35px;
	position: absolute;
	bottom: 10px;
	left: 50%;
	opacity: 0;
}
/*menu 시작*/
ul.menu li{
	width: 25%;
	float: left;
	cursor: pointer;
}
ul.menu{
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	text-align: center;
	background: #000000;
	z-index: 99;
	color: #fff;
	overflow: hidden;
}
.sticky{
	position: fixed;
	top: 0;
	width: 100%;
}
.hide{
	opacity: 0;
	margin-left: -300px;
	max-width: 100%;
}
.hideSec3{
	opacity: 0;
}
/*section 시작*/
.sectionAll{
	position: relative;
}
.section p.secMaintxt{
	text-align: center;
	font-size: 50px;
	padding: 30px 0 30px 0;
}
/*sec1 시작*/
.sec1 .secMaintxt{
	
}
.sec1Maintxt{
	font-weight: 800;
	font-size: 40px;
	margin-bottom: 40px;
}
.sec1Profile,.sec1Education{
	width: 49%;
	line-height: 70px;
	text-align: center;
	font-size: 25px;
}
.sec1 .bar{
	width: 1.5px;
	height: 0px;
	background: #000;
	float: left;
}
@media only screen and (max-width:640px){
	.section{
		height: 100%;
	}
	.sec1Maintxt{
		font-size: 30px;
		margin-bottom: 0px;
	}
	.sec1Profile,.sec1Education{
		font-size: 15px;
	}
	
}
/*sec2 시작*/
.section .skillImg{
	width: 25%;
	height: 120px;
	display: block;
	float: left;
}
.sec2 .box{
	margin-top: 50px;
	width: 70%;
	height: 20px;
	background: #fff;
	float:left;
	position: relative;
}
.sec2 .box .box2{
	position: absolute;
	height: 19px;
	width: 0;
}
.sec2Left .clearfix:nth-child(1) .box2{
/*	width: 100%;*/
	background: #e54f26;
}
.sec2Left .clearfix:nth-child(2) .box2{
/*	width: 100%;*/
	background: #0c73b8;
}
.sec2Left .clearfix:nth-child(3) .box2{
/*	width: 90%;*/
	background: #e7a020;
}
.sec2Left .clearfix:nth-child(4) .box2{
/*	width: 90%;*/
	background: #106baf;
}
.sec2Right .clearfix:nth-child(1) .box2{
/*	width: 95%;*/
	background: #6182b8;
}
.sec2Right .clearfix:nth-child(2) .box2{
/*	width: 90%;*/
	background: #2f8bc9;
}
.sec2Right .clearfix:nth-child(3) .box2{
/*	width: 90%;*/
	background: #e6982f;
}
.sec2Left .clearfix:nth-child(1) .sec2Txt{
	position: absolute;
	top: 20px;
	right: -20px;
}
.sec2Left .clearfix:nth-child(2) .sec2Txt{
	position: absolute;
	top: 20px;
	right: -20px;
}
.sec2Left .clearfix:nth-child(3) .sec2Txt{
	position: absolute;
	top: 20px;
	right: 20px;
}
.sec2Left .clearfix:nth-child(4) .sec2Txt{
	position: absolute;
	top: 20px;
	right: 20px;
}
.sec2Right .clearfix:nth-child(1) .sec2Txt{
	position: absolute;
	top: 20px;
	right: 0px;
}
.sec2Right .clearfix:nth-child(2) .sec2Txt{
	position: absolute;
	top: 20px;
	right: 20px;
}
.sec2Right .clearfix:nth-child(3) .sec2Txt{
	position: absolute;
	top: 20px;
	right: 20px;
}
@media only screen and (max-width:720px){
	.sec2Left,.sec2Right{
		width: 50%;
	}
	.sec2 p.secMaintxt{
		margin-bottom: 0px;
	}
.sec2Left .clearfix:nth-child(3) .sec2Txt{
	position: absolute;
	top: 20px;
	right: -7px;
}
.sec2Left .clearfix:nth-child(4) .sec2Txt{
	position: absolute;
	top: 20px;
	right: -7px;
}
.sec2Right .clearfix:nth-child(1) .sec2Txt{
	position: absolute;
	top: 20px;
	right: -10px;
}
.sec2Right .clearfix:nth-child(2) .sec2Txt{
	position: absolute;
	top: 20px;
	right: -5px;
}
.sec2Right .clearfix:nth-child(3) .sec2Txt{
	position: absolute;
	top: 20px;
	right: -5px;
}
}
/*sec3 시작*/
.sec3Content{
	width: 100%;
	height: 150px;
	border: .5px solid #dbdbdb;
	box-sizing: border-box;
	position: relative;
	bottom: -30px;
}
.sec3Left,.sec3Right{
	width: 50%;
	float: left;
}
.sec3Content .sec3Txt{
	display: block;
	text-align: center;
	margin: 55px auto 0 auto;
	font-size: 30px;
	font-weight: 800;
	color: #fff;
}
.sec3Content .sec3Site{
	display: block;
 	text-align: center;
	font-size: 15px;
	color: #dedede;
}
.sec3Content.zeroWork{
	background: url("../img/zeroWork.png") no-repeat;
	background-size: cover;
}
.sec3Content.zeroWork span.sec3Subtxt{
	font-size: 12px;
}
.sec3Content.firstWork{
	background: url("../img/firstSite_.png") no-repeat;
	background-size: cover;
}
.sec3Content.secondWork{
	background: url("../img/secondSite.PNG") no-repeat;
	background-size: cover;
}
.sec3Content.thirdWork{
	background: url("../img/thirdSite_.png") no-repeat;
	background-size: cover;
}
.sec3Content.fourthWork{
	background: url("../img/fourthSite_.png") 50% no-repeat;
	background-size: cover;
}
@media only screen and (max-width:640px){
	.sec3Content .sec3Txt{
		font-size: 20px;
	}
	.sec3Content .sec3Site{
		font-size: 10px;
	}
}
/*sec4 시작*/
.section.sec4 p.info{
	margin: 0px 0 20px 10px;
}
.section.sec4 input,textarea{
	width: 100%;
	display: block;
	text-indent: 10px;
	border: 1.5px solid;
	box-sizing: border-box;
}
.sec4 .sec4Left{
	position: relative;
	height: 400px;
}
.sec4 .sec4Left input{
	height: 50px;
}
.sec4 .sec4Left input.submit{
	position: absolute;
	bottom: 10px;
	width: 95%;
	border: 0px;
	color: #fff;
	background: #000;
}
.sec4 .sec4Right textarea{
	height: 390px;
	font-weight: 800;
	font-size: 14px;
}
@media only screen and (max-width:720px){
	.sec4Left,.sec4Right{
		width: 50%;
	}
}